html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Press Start 2P";
  line-height: 1.42;
  color: #362f2f;
  cursor: url(./src/img/icon/starter-3d-effect-cursor-cursor.png) , default!important;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 940px;
  margin: auto;
}

.swiper-container {
  height: 600px;
  width: 300px;
  border: 1px solid red;
}

.swiper-slide{
  overflow: hidden;
}

/* section header */

.header .container {
  padding: 20px;
}

.language-swithing{
  display: flex;
  justify-content: flex-end;
}

.language-list{
  display: flex;
}

.language-list__item{

}

.language-list__item-link{
  padding: 5px;
  color: #1b1a18;
  transition: 0.5s;
}

.language-list__item-link:hover{
  cursor: url(./src/img/icon/starter-3d-effect-cursor-pointer.png) , default!important;
}

.language-list__item-link.active{
  background-color: #338fff;
  color:#ffffff;
}

.language-list__item-link:hover{
  cursor: url(./src/img/icon/starter-3d-effect-cursor-pointer.png) , default!important;
  text-decoration: underline;
}


/* section search-topic */

.search-topic {
}
.search-topic .container{ 
  display: flex;
  height: 100vh;
  min-height: 660px;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.main-photo__background-photo-one{
  position: relative;
  height: 600px;
  width: 300px;
  background-color: #cfcfd3;
  /* padding-right: 40px; */
}

.main-photo__background-photo-two{
  position: absolute;
  height: 600px;
  width: 300px;
  left: 10px;
  top: 10px;
  background: #a6a6a8;
}

.main-photo__topic-photo {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 600px;
  width: 300px;
  border: 1px solid #000000;
  cursor: url(./src/img/icon/starter-3d-effect-cursor-pointer.png) , default!important;
}

.topic-text__header{
  display: block;
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 10;
  font-size: 0.001px;
  background-color: #ffffff;
  color: #ffffff;
}

.topic-text__item {
  font-family: "Press Start 2P";
  font-size: 5rem;
  padding-left: 50px;
  text-transform: uppercase;
 }


/* section about-me */

.about-me,.my-requirements{
  background-color:  #16161a;
  height: 100vh;
  min-height: 240px;
  color:#8a8885;
  display: flex;
}

.caption__text {
  padding-left: 10px;
  background-color: #a52a2a;
  font-size: 2rem;
}

.description__list {
  padding-left: 35px;
}

.description__item {
  list-style-type: square;
  padding: 10px;
}

.description__item::before {
  display: inline-block;
  content: attr(data-content);
  color: rgb(213, 138, 228);
  transform: translateX(100%);
  transition: transform 275ms ease;
  text-decoration: underline;
}

.description__item:hover {
  text-decoration: underline;
  transform: translateX(0);
}


/* section my photo */

.my-photos{
  color:#1b1a18;
  display: flex;
}

.my-photos .container {
  max-width: 1030px;
}

.my-photos__caption {
  padding-top: 60px;
  padding-left: 30px;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.block-photo {
  display: inline-block;
  box-sizing: border-box;
  padding-bottom: 20px;
  overflow: hidden; 
}

.block-photo__photo {
  width: 320px;
  height: 320px;
  filter: grayscale(100%); 
  transition: 0.3s;
}

.block-photo__photo:hover {
  filter: grayscale(0);
  transition: 0.3s;
  cursor: url(./src/img/icon/starter-3d-effect-cursor-pointer.png) , default!important;
  transform: scale(1.1);
}


/* block my-requirements 
no style
*/


/* block test-offer  */

.test-offer .container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
}
.offer-text{
  padding: 40px;
  background-color: #2b2828;
  color:#dfdbdb;
  font-size: 2rem;
  text-align: justify;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
}
.offer-btn{
  display: inline;
  position: relative;
  margin: 10px 20px;
  padding: 10px 30px;
  border: 4px solid #f1c40f;
  color: #0c0c0c;
  font-size: 5rem;
  transition: .4s;
  text-align: center; 
  text-decoration: none;
}

.offer-btn:hover{
  cursor: url(./src/img/icon/starter-3d-effect-cursor-pointer.png) , default!important;
}

.offer-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 4px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.offer-btn:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

/* test block */

.test {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(82, 81, 81);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.test.hidden {
  display: none;
}

.container {

}

.btn-wrapper {
display: flex;
justify-content: flex-end;
}

.btn-close-test {
  width: 70px;
  height: 70px;
  background-color: rgb(220, 20, 37);
}

@media (max-width: 990px) { 

  .search-topic .container{ 
    justify-content:space-around;
  }

  .images-container {
    justify-content: space-around;
  }
}

@media (max-width: 810px) { 

  .topic-text__item {
    font-size: 4rem;
   }
}

@media (max-width: 730px) { 
  
  .header .container {
    height: 10vh;
    padding: 0;
  }

  .language-swithing {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .main-photo {
    padding-right: 20px;
  }

  .search-topic .container{
    height: 100vh; 
    min-height: 760px;
    flex-direction: column;
  }

  .topic-text {
    padding: 5px;
  }

  .topic-text__item {
    font-size: 3rem;
    padding-left: 0;
   }

   .about-me, .my-requirements {
     height: 75vh;
   }
}

@media (max-width: 654px) { 

  .block-photo__photo {
    width: 90vw;
    height: 90vw;
    filter: grayscale(100%); 
    transition: 0.3s;
  }
}


@media (max-width: 390px) { 
  
  .topic-text__item {
    padding-left: 10px;
   }
}

@media (max-width: 337px) { 
  
  .main-photo {
    padding: 0;
  }

  .main-photo__background-photo-one,
  .main-photo__background-photo-two,
  .main-photo__topic-photo {
    top: 0;
    left: 0;
  }

  .offer-text {
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 1.8rem;
  }
}